@(artist: play.data.Form[Artist])(artista : models.Artist)

@main("editando datos"){
<div class="container">
    <div class="card grey lighten-2" align="center">
        @helper.form(action = routes.ArtistController.update(artista.getUsername())){
        @helper.CSRF.formField
        @helper.inputPassword(artist("pass"),'required -> "required")
        @helper.inputText(artist("name"),'required -> "required")
        @helper.inputText(artist("lastname"),'required -> "required")
        <input type="submit" class="btn waves-effect waves-light" value="Edit">
        }
        <div class="section"/>
    </div>

</div>


}