@(songs: List[models.Song])

@display(song: models.Song)={
<div class="container">
    <div class="card grey lighten-2" align="center">
        <strong>@song.getArtist().getUsername() - @song.getTitle()</strong>
        <br>
        <div class="section"/>
        <div class="row">
            <audio id="@song.getUri()" src="@song.getUri()" controls>
                Your browser does not support audio.
            </audio>
        </div>
    </div>
</div>


</div>
}

@main("Home") {
    @if(songs.isEmpty()){
        <div class="section"/>
        <div class="container">
            <strong>No Existen ni Canciones ni Artistas Registrados Por ahora... Registrate y Sube Canciones sin Copyright...</strong>
            <br>
            <strong>don't exist any Song and Artist the platform, sign in and update songs without Copyright...</strong>
        </div>
    }else{
        @for(son <- songs){
            @display(son)
        }
    }
}
