@(artist: play.data.Form[Artist])

@main("Buscando Artista"){
<div class="container">
        <div class="card grey lighten-2" align="center">
                @helper.form(action=routes.ArtistController.buscar){
        @helper.CSRF.formField
        @helper.inputText(artist("username"),'required -> "required")
        <input type="submit" class="btn waves-effect waves-light" value="Search">
        }
                <div class="section"/>
        </div>

</div>

}