@(username: String)(message: String)

@main("Upload Song"){
<div class="container">
    <div class="card grey lighten-2" align="center">
        <div class="section">
            @helper.form(action = controllers.routes.SongController.upload(username), 'enctype -> "multipart/form-data"){
            @helper.CSRF.formField
            <input type="file"  name="song">
            <span>@message</span>
        </div>
        <input type="submit" class="btn waves-effect waves-light" value="Upload">
        }
        <div class="section"/>
    </div>
</div>
}